@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,600italic,700,700italic);

body {
  font-family: Josefin Sans;
  text-align: left;
}

h1 {
  font-size: 65px;
}

h2 {
  font-family: Rock Salt;
}

h3 {
  font-family: Rock Salt;
  border-top: 2px dashed black;
  margin-top: 50px;
  padding-top: 50px;
}

ol {
  font-weight: bolder;
}

header {
  margin-bottom: 25px;
}

em {
  color: #D7CE50
}

nav {
  margin-right: 35px;
}

#container {

  width: 88%;
  float: left;
  text-align: center;
  background-color: #56B443;
}

#titlebar {
  border-bottom: 4px groove #D7CE50;

  text-align: center;
  font-family: Rock Salt;

}

#sidebar {
  font-family: Rock Salt;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  color: black;
  padding-top: 300px;
  padding-bottom: 300px;
  width: 12%;
  float: left;
  font-size: 20px;
  background-image: url(Images/tree.jpg);
  background-position: 0px 0px left;
  background-size: 100%;
}

#nav {
  background-color: transparent;
}


#TextBox {

font-weight: 600;
font-size: 22px;
padding-top: 50px;
padding-bottom: 50px;
}

#main_pic {
  text-align: center;
  float: none;
  margin-top: 50px;
}

#wheresthetruck {

  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px dashed black;
  border-top-width: 25%;
}

#menucontainer {
  width: 88%;
  float: left;
  text-align: center;
  background-color: #56B443
}

#menutitlebar {
  width: 100%;
  float: right;
  border-bottom: 4px solid black;
  border-right: solid black;
  text-align: center;
  font-family: Rock Salt;
}

#menutextbox {
  float: left;
  width: 100%;
  text-align: center;
}

#menusidebar {
  font-family: Rock Salt;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  color: black;
  padding-top: 300px;
  padding-bottom: 300px;
  width: 12%;
  float: left;
  font-size: 20px;
  background-image: url(Images/tree.jpg);
  background-position: 0px 0px left;
  background-size: 100%;


#missioncontainer {
  width: 88%;
  float: left;
}

#missiontitlebar {
  width: 100%;
  float: right;
  border-bottom: 4px solid black;
  border-right: solid black;
  text-align: center;
  font-family: Rock Salt;
}

#missiontextbox {
  float: right;
  width: 100%;
  text-align: center;
}

#missionsidebar {
  font-family: Rock Salt;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  color: black;
  padding-top: 300px;
  padding-bottom: 300px;
  width: 12%;
  float: left;
  font-size: 20px;
  background-image: url(Images/tree.jpg);
  background-position: 0px 0px left;
  background-size: 100%;
}
