@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,600italic,700,700italic);

body {
  font-family: Josefin Sans;
  text-align: left;
}

h1 {
  font-size: 60px;
}

nav {
  margin-right: 35px;
}

#container {
  background-color: tan;
  width: 88%;
  float: left;
}

#titlebar {
  border-bottom: 4px solid black;
  border-right: solid black;
  text-align: center;
  font-family: Rock Salt;

}

#sidebar {
  font-family: Rock Salt;
  font-weight: 200;
  text-align: center;
  background-color: transparent;
  padding-top: 300px;
  padding-bottom: 300px;
  width: 12%;
  float: left;
  font-size: 20px;
  background-image: image(side_pic);
}

#nav {
  background-color: transparent;
  background-image: image(side_pic);
}

#side_pic {
  margin-top: -300px;
}

#TextBox {

font-weight: 600;
font-size: 22px;
padding-top: 50px;
padding-bottom: 50px;
}

#main_pic {
  text-align: center;
  float: none;
  margin-top: 50px;
}

#wheresthetruck {

  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid black;
  border-top-width: 25%;
}

#menucontainer {

}

#menutitlebar {
  width: 100%;
  float: right;
  border-bottom: 4px solid black;
  border-right: solid black;
  text-align: center;
  font-family: Rock Salt;
}

#menutextbox {
  float: right;
  width: 91%;
  text-align: center;
}

#menusidebar {
  text-align: center;
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 80px;
  width: 9%;
  float: right;
  font-size: 20px;
}


#missiontitlebar {
  width: 100%;
  float: right;
  border-bottom: 4px solid black;
  border-right: solid black;
  text-align: center;
  font-family: Rock Salt;
}

#missiontextbox {
  float: right;
  width: 91%;
  text-align: center;
}

#missionsidebar {
  text-align: center;
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 80px;
  width: 9%;
  float: right;
  font-size: 20px;
}
